.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boundary {
  composes: block;
  width: 100vw;
  height: 100vh;
  background-color: #ccc;
}

.title {
  color: crimson;
}

.message {
  color: darkblue;
}

.button {
  border-radius: 4px;
  border: 0;
  margin: 5px;
  padding: 5px 10px;
}

.link {
  composes: button;
}
